<div
  class="fixed top-0 right-0 w-96 p-5 h-screen overflow-y-auto bg-white/30 backdrop-blur-md"
  [ngClass]="{ 'shadow-[-3px_0_6px_0_rgba(0,0,0,.1)]': show() }"
  [@slideInRight]="show() ? 'open' : 'close'"  
>
  @if (mode() === 'view') {
    <h3 class="text-xl font-semibold mb-3">标记列表</h3>
    @for (data of dataSource(); track data.id; let last = $last) {
      <div
        class="flex items-center justify-between card cursor-pointer"
        [ngClass]="last ? 'mb-4' : 'mb-3'"
        (click)="focusMarker(data)"
      >
        <div class="flex items-center gap-3">
          <div>
            <h4 class="font-semibold">{{ data.name }}</h4>
            <p class="text-sm text-gray-400">{{ data.description }}</p>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <img
            (click)="editData($event, data)"
            src="common/edit.svg" title="编辑"
            class="w-6 h-6 cursor-pointer hover:bg-primary-circle">
          <img
            (click)="deleteData($event, data)"
            src="common/trash.svg" title="删除"
            class="w-6 h-6 cursor-pointer hover:bg-red-circle">
        </div>
      </div>
    } @empty {
      <div class="flex items-center justify-center card mb-4">
        <p class="text-gray-400">暂无数据</p>
      </div>
    }

    <div class="sticky bottom-0 w-86 flex items-center gap-4">
      <button
        class="btn w-full text-primary border border-primary hover:text-white hover:bg-primary"
        (click)="mode.set('create')"
      >创建</button>
    </div>
  }

  @if (mode() === 'create' || mode() === 'edit') {
    <h3 class="text-xl font-semibold mb-3">{{ mode() === 'create' ? '标记创建' : '标记编辑' }}</h3>
    <div [formGroup]="dataForm" class="mb-4">
      <div class="grid grid-cols-3 gap-2 mb-3">
        <div class="flex flex-col gap-1">
          <label for="lng" class="text-sm">经度</label>
          <input
            id="lng"
            class="input"
            type="number"
            [formControlName]="'lng'"
          >
        </div>
        <div class="flex flex-col gap-1">
          <label for="lat" class="text-sm">纬度</label>
          <input
            id="lat"
            class="input"
            type="number"
            [formControlName]="'lat'"
          >
        </div>
        <div
          class="flex items-center justify-center gap-2 mt-6 cursor-pointer bg-white shadow rounded-md"
          (click)="pickCoords()"
        >
          <img src="common/pick.svg" class="w-5 h-5 mt-0.5">
          <span class="text-sm font-semibold text-primary">{{ !createMarker() ? '拾取' : '重新拾取' }}</span>
        </div>
      </div>
      <div class="mb-3">
        <label for="name" class="text-sm">名称</label>
        <input
          id="name"
          class="input"
          type="text"
          [formControlName]="'name'"
        >
      </div>
      <div class="mb-3">
        <label for="description" class="text-sm">描述</label>
        <textarea
          id="description"
          class="input"
          rows="3"
          spellcheck="false"
          [formControlName]="'description'"
        ></textarea>
      </div>
    </div>

    <div class="sticky bottom-0 w-86 flex items-center gap-4">
      <button
        class="btn w-1/2 text-gray-400 border border-gray-400 hover:text-white hover:bg-gray-400"
        [disabled]="operating()"
        (click)="cancelUpdate()"
      >取消</button>
      <button
        class="btn w-1/2 text-primary border border-primary hover:text-white hover:bg-primary"
        [disabled]="operating() || dataForm.invalid"
        (click)="saveUpdate()"
      >{{ mode() === 'create' ? '创建' : '保存' }}</button>
    </div>
  }
</div>

<div
  class="absolute top-1/2 w-5 transition-all duration-300 "
  [ngClass]="show() ? 'right-96' : 'right-0'"
>
  <div
    class="py-4 px-0.5 w-5 rounded-l-md bg-white/40 backdrop-blur-md shadow-[-3px_0_6px_0_rgba(0,0,0,.1)] cursor-pointer"
    (click)="tooglePanel()"
  >
    <img src="common/expand.svg"
      class="w-4 h-4 transition duration-300"
      [ngClass]="show() ? 'rotate-0' : 'rotate-180'">
  </div>
</div>
